﻿@model teacher;
<h3>Teacher Info</h3>

<br />
<form>
    <br />

    <div class="form-group">
        <label for="txt_id">ID</label>
        <input type="text" value="@Model.Id" class="form-control" id="txt_id" placeholder="Student ID">
    </div>
    <br />
    <div class="form-group">
        <label for="txt_name">Name</label>
        <input type="text" value="@Model.Name" class="form-control" id="txt_name" placeholder="Student Name">
    </div>
    <br />

    <div class="form-group">
        <label for="txt_mobile">Mobile</label>
        <input type="text" value="@Model.Mobile" class="form-control" id="txt_mobile" placeholder="Student Mobile">
    </div>
    <br />
    <div class="form-group">
        <label for="txt_email">Course</label>
        <input type="email" value="@Model.Course" class="form-control" id="txt_email" placeholder="Course">
    </div>
    <br />
    <div class="form-group">
        <label for="txt_classname">Address</label>
        <input type="text" value="@Model.Address" class="form-control" id="txt_classname" placeholder="Address">
    </div>




</form>