﻿@model student;
<h3>Student Info</h3>

<br />
<form>
    <br />
    
    <div class="form-group">
        <label for="txt_id">ID</label>
        <input type="text" value="@Model.Id" class="form-control" id="txt_id" placeholder="Student ID">
    </div>
    <br />
    <div class="form-group">
        <label for="txt_name">Name</label>
        <input type="text" value="@Model.Name" class="form-control" id="txt_name" placeholder="Student Name">
    </div>
    <br />

    <div class="form-group">
        <label for="txt_mobile">Mobile</label>
        <input type="text" value="@Model.Mobile" class="form-control" id="txt_mobile" placeholder="Student Mobile">
    </div>
    <br />
    <div class="form-group">
        <label for="txt_email">Email</label>
        <input type="email" value="@Model.Email" class="form-control" id="txt_email" placeholder="Email">
    </div>
    <br />
    <div class="form-group">
        <label for="txt_classname">Class Name</label>
        <input type="text" value="@Model.ClassName" class="form-control" id="txt_classname" placeholder="Class Name">
    </div>




</form>