﻿@model List<student>;

<h3>All Students List</h3>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Class Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Mobile</td>
                <td>@item.Email</td>
                <td>@item.ClassName</td>
            </tr>
        }
    </tbody>

</table>