﻿
<h3>Welcome to ViewData</h3>
<br />
<p>Current User is = @ViewData["user"].ToString()</p>
<p>User Mobile id = @ViewData["mobile"].ToString()</p>
<br />
<label>Name</label>
<br />
<input type="text" placeholder="Enter Full name"/>

<div style="margin-top:50px;">
    <h4>ASP.NET Class STudents</h4>
    <ol>
        @foreach(string onestudent in ViewData["studentlist"] as string[])
        {
            <li>@onestudent</li>
        }
    </ol>
</div>

@{
    int counter = 1;

}
@foreach(var item in ViewData["studentlist"] as string[])
{
    <div style="border:1px solid black; border-radius:10px; background-color:aqua; color:black; display:block; padding:10px; margin:5px; width:200px;">
        <div style="border:1px solid red; background-color:antiquewhite; width:150px; margin:5px">
            Student #: @counter

        </div>
        <div style="border:1px solid red; background-color:transparent; width:150px; margin:5px;">
            Name: @item
        </div>
    </div>
    counter++;
}

<br />
<h3>Examples of Viewbag</h3>
<b>User ID: </b>@ViewBag.UserId.ToString()
<br />
<b>User name:</b> @ViewBag.user
<center>
    @ViewData["datattime"].ToString()
</center>